<section class="overflow-hidden relative">
  <svg
    class="lg:-mx-4 relative mt-[-50px]"
    viewBox="0 0 1340 241"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" font-size="200" fill="black" font-weight="bold">
      ZEVOSTUDIO
    </text>
  </svg>
  <div class="px-8 md:px-12 py-24 max-w-2xl mx-auto relative">
    <div>
      <h2 class="text-5xl mt-12 tracking-tighter font-normal text-black"><span class="block">Where Creativity Meets Innovation</span>
      </h2>
    </div>
    <ul
      class="grid grid-cols-1 text-base text-zinc-500 lg:grid-cols-2 max-w-xl gap-2 group h-full mt-12"
    >
      <div>
        <p>
          Welcome to Zevo Studio, your hub for dynamic graphic design and 3D artistry. We bring your ideas to life with creativity and precision.
        </p>
      </div>
      <div>
        <p>
          At Zevo Studio, we deliver excellence in every project, ensuring your vision becomes a reality. Let's create something extraordinary together!
        </p>
      </div>
    </ul>
  </div>
</section>
