<section>
  <div class="px-8 md:px-12 py-12 max-w-2xl mx-auto">
    <div class="relative overflow-hidden">
      <div
        class="container flex flex-col justify-center overflow-hidden md:flex-row"
        x-data="{ testimonialActive: 1 }"
      >
        <div>
          <div class="relative flex flex-col h-full text-left">
            <div class="relative z-10 h-full">
              <div class="pb-6 max-w-xl mx-auto">
                <div
                  x-show.immediate="testimonialActive === 1"
                  style="display: none;"
                >
                  <p
                    class="font-medium leading-6 text-zinc-500 text-base text-balance flex gap-2 items-center text-center mx-auto"
                    x-show.transition="testimonialActive == 1"
                    style="display: none;"
                  >
                    Azriel is not just talented but also super easy to work
                    with. He gets what you need and delivers beyond
                    expectations. Working with him is always a pleasure!
                  </p>
                </div>
                <div x-show.immediate="testimonialActive === 2">
                  <p
                    class="font-medium leading-6 text-zinc-500 text-base text-balance flex gap-2 items-center text-center mx-auto max-w-md"
                    x-show.transition="testimonialActive == 2"
                  >
                    Azriel’s designs always have that wow factor. Whether it’s
                    3D art or graphic design, he manages to mix creativity and
                    technical skills perfectly. Honestly, I’m always amazed by
                    what he comes up with!
                  </p>
                </div>
                <div x-show.immediate="testimonialActive === 3">
                  <p
                    class="font-medium leading-6 text-zinc-500 text-base text-balance flex gap-2 items-center text-center mx-auto max-w-md"
                    x-show.transition="testimonialActive == 3"
                  >
                    I’ve collaborated with Azriel on a few projects, and every
                    time, he brings fresh ideas and a unique perspective. He’s
                    definitely someone who can turn concepts into something
                    visually stunning.
                  </p>
                </div>
                <div x-show.immediate="testimonialActive === 4">
                  <p
                    class="font-medium leading-6 text-zinc-500 text-base text-balance flex gap-2 items-center text-center mx-auto max-w-md"
                    x-show.transition="testimonialActive == 4"
                  >
                    Azriel is a true professional. He always hits deadlines and
                    his attention to detail is impressive. Plus, he’s great at
                    making designs that truly capture what the client wants.
                  </p>
                </div>
              </div>
              <div class="flex items-center justify-center mt-6 lg:my-4">
                <button
                  @click.prevent="testimonialActive = 1"
                  class="inline-block mx-2 font-bold text-center rounded-full shadow-xs focus:outline-none focus:ring-2 size-12 opacity-50 bg-gradientdown"
                  :class="{'size-12 opacity-50 bg-gradientdown ': testimonialActive != 1, 'opacity-100 bg-gradientdown text-white': testimonialActive == 1}"
                >
                  <img
                    class="inline-block w-12 h-12 rounded-full grayscale border"
                    src="https://api.dicebear.com/9.x/notionists/svg?seed=Rafi%20Ikhwan%20Saputra&scale=170&radius=30&backgroundType=gradientLinear&beardProbability=20&bodyIcon=galaxy,electric,saturn&gestureProbability=0&hair=hat,variant01,variant03,variant04,variant05,variant06,variant07,variant08,variant09,variant11,variant12,variant13,variant14,variant15,variant16,variant17,variant18,variant19,variant20,variant21,variant22,variant24,variant25,variant26,variant27,variant29,variant30,variant31,variant32,variant33,variant34,variant35,variant37,variant38,variant39,variant40,variant41,variant42,variant43,variant44,variant45,variant46,variant47,variant48,variant49,variant50,variant51,variant52,variant53,variant54,variant55,variant56,variant57,variant58,variant59,variant60,variant61&backgroundColor=c0aede,ffdfbf,ffd5dc,d1d4f9"
                    alt="avatar"
                  />
                </button>
                <button
                  @click.prevent="testimonialActive = 2"
                  class="inline-block mx-2 font-bold text-center rounded-full shadow-xs focus:outline-none focus:ring-2 opacity-100 bg-gradientdown text-white"
                  :class="{'size-12 opacity-50 bg-gradientdown ': testimonialActive != 2, 'opacity-100 bg-gradientdown text-white': testimonialActive == 2}"
                >
                  <img
                    class="inline-block w-12 h-12 rounded-full grayscale border"
                    src="https://api.dicebear.com/9.x/notionists/svg?seed=Memet%20Zx&scale=170&radius=30&backgroundType=gradientLinear&beardProbability=20&bodyIcon=galaxy,electric,saturn&gestureProbability=0&hair=hat,variant01,variant03,variant04,variant05,variant06,variant07,variant08,variant09,variant11,variant12,variant13,variant14,variant15,variant16,variant17,variant18,variant19,variant20,variant21,variant22,variant24,variant25,variant26,variant27,variant29,variant30,variant31,variant32,variant33,variant34,variant35,variant37,variant38,variant39,variant40,variant41,variant42,variant43,variant44,variant45,variant46,variant47,variant48,variant49,variant50,variant51,variant52,variant53,variant54,variant55,variant56,variant57,variant58,variant59,variant60,variant61&backgroundColor=c0aede,ffdfbf,ffd5dc,d1d4f9"
                    alt="avatar"
                  />
                </button>
                <button
                  @click.prevent="testimonialActive = 3"
                  class="inline-block mx-2 font-bold text-center rounded-full shadow-xs focus:outline-none focus:ring-2 opacity-100 bg-gradientdown text-white"
                  :class="{'size-12 opacity-50 bg-gradientdown ': testimonialActive != 3, 'opacity-100 bg-gradientdown text-white': testimonialActive == 3}"
                >
                  <img
                    class="inline-block w-12 h-12 rounded-full grayscale border"
                    src="https://api.dicebear.com/9.x/notionists/svg?seed=Tata%20Mursyid%20Aam&scale=170&radius=30&backgroundType=gradientLinear&beardProbability=20&bodyIcon=galaxy,electric,saturn&gestureProbability=0&hair=hat,variant01,variant03,variant04,variant05,variant06,variant07,variant08,variant09,variant11,variant12,variant13,variant14,variant15,variant16,variant17,variant18,variant19,variant20,variant21,variant22,variant24,variant25,variant26,variant27,variant29,variant30,variant31,variant32,variant33,variant34,variant35,variant37,variant38,variant39,variant40,variant41,variant42,variant43,variant44,variant45,variant46,variant47,variant48,variant49,variant50,variant51,variant52,variant53,variant54,variant55,variant56,variant57,variant58,variant59,variant60,variant61&backgroundColor=c0aede,ffdfbf,ffd5dc,d1d4f9"
                    alt="avatar"
                  />
                </button>
                <button
                  @click.prevent="testimonialActive = 4"
                  class="inline-block mx-2 font-bold text-center rounded-full shadow-xs focus:outline-none focus:ring-2 opacity-100 bg-gradientdown text-white"
                  :class="{'size-12 opacity-50 bg-gradientdown ': testimonialActive != 4, 'opacity-100 bg-gradientdown text-white': testimonialActive == 4}"
                >
                  <img
                    class="inline-block w-12 h-12 rounded-full grayscale border"
                    src="https://api.dicebear.com/9.x/notionists/svg?seed=Abiem%20Kholni&scale=170&radius=30&backgroundType=gradientLinear&beardProbability=20&bodyIcon=galaxy,electric,saturn&gestureProbability=0&hair=hat,variant01,variant03,variant04,variant05,variant06,variant07,variant08,variant09,variant11,variant12,variant13,variant14,variant15,variant16,variant17,variant18,variant19,variant20,variant21,variant22,variant24,variant25,variant26,variant27,variant29,variant30,variant31,variant32,variant33,variant34,variant35,variant37,variant38,variant39,variant40,variant41,variant42,variant43,variant44,variant45,variant46,variant47,variant48,variant49,variant50,variant51,variant52,variant53,variant54,variant55,variant56,variant57,variant58,variant59,variant60,variant61&backgroundColor=c0aede,ffdfbf,ffd5dc,d1d4f9"
                    alt="avatar"
                  />
                </button>
              </div>
              <div class="flex justify-center px-4 pt-4 pb-6 md:py-6">
                <div
                  class="text-center"
                  x-show="testimonialActive == 1"
                  style="display: none;"
                >
                  <h2 class="text-zinc-500 text-sm font-medium lg:text-base">
                    Rafi Ikhwan Saputra
                  </h2>
                  <a href="#" class="text-xs text-zinc-500"
                    >Video Editor</a
                  >
                </div>
                <div class="text-center" x-show="testimonialActive == 2">
                  <h2 class="text-zinc-500 text-sm font-medium lg:text-base">
                    Memet Zx
                  </h2>
                  <a href="#" class="text-xs text-zinc-500">Software Engineer</a
                  >
                </div>
                <div class="text-center" x-show="testimonialActive == 3">
                  <h2 class="text-zinc-500 text-sm font-medium lg:text-base">
                    Tata Mursyid Aam
                  </h2>
                  <a href="#" class="text-xs text-zinc-500">3D Designer</a>
                </div>
                <div class="text-center" x-show="testimonialActive == 4">
                  <h2 class="text-zinc-500 text-sm font-medium lg:text-base">
                    Abiem Kholni
                  </h2>
                  <a href="#" class="text-xs text-zinc-500">2D Animator</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
